/* Indonesia */
.flagContainer{
  position: relative;
   width: 50vmin;
   height: 33vmin;
   margin: 3vmin;
}
 .halfRectangle{
   height: 50%;
}
.red {
  background-color: rgb(255, 0, 0);
}
.white {
  background-color: rgb(245, 245, 245);
}
/* Colombia */
.mustardYellow{
  background-color: rgb(252, 209, 22);
}

.darkBlue {
  background-color: rgb(0, 56, 147);
}

.darkRed {
  background-color: rgb(206, 17, 38);
}

/* Ireland */
.flexContainer {
  display: flex;

}

.dynamicSiblingPanel {
  width: 100%;
}

.green {
  background-color: rgb(22, 155, 98)
}

.orange {
  background-color: rgb(255, 136, 62)
}

/* France */
#france {
  font-size: 0;
}
.inlineBlockPanel {
  display: inline-block;
  height: 100%;
  width: 33%;
}
/* Benin */
.leftFloatPanel{
  float: left;
  height: 100%;
  width: 40%;
}
.rightFloatPanel {
  float: right;
  height: 100%;
  width: 60%;
}
/* Sweden */
#sweden .halfRectangle {
  position: relative;
}

.lightBlue{
  background-color: rgb(0, 106, 167);
}

.absoluteLeftPanel {
  position: absolute;
  height: 80%;
  width: 28%;
}

.absoluteRightPanel {
  position: absolute;
  height: 80%;
  width: 58%;
  left: 42%;
}

.bottomPanel {
  top: 20%;
}

/* Switzerland */
.squareFlagContainer {
  position: relative;
  height: 33vmin;
  width: 33vmin;
  margin: 3vmin;
}
.horizontalRectangle {
  position: absolute;
  height: 25%;
  width: 60%;
  left: 20%;
  top: 37%;
}

.verticalRectangle {
  position: absolute;
  height: 60%;
  width: 25%;
  left: 37%;
  top: 20%;

}


/* Tonga */
.smallSquareFlagContainer {
  position: relative;
  height: 15vmin;
  width: 25vmin;

}
.smallHorizontalRectangle {
  position: absolute;
  height: 22%;
  width: 43%;
  left: 30%;
  top: 37%;
}

.smallVerticalRectangle {
  position: absolute;
  height: 63%;
  width: 17%;
  left: 43%;
  top: 16%;

}
/* Japan */
.circle{
  margin: auto;
  width: 43%;
  height: 57%;
  border-radius: 50%;
}
/* Canada */
.smallerDynamicPanel{
  width: 65%;
}
.middleLogoPanel::before{
  content: "";
  height: 50%;
  width: 50%;
  left: 31%;
  top: 30%;
  position: absolute;
  background-image: url(assets/images/canada_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform:rotateZ(27deg);

}
/* Norway */
.fullLengthVerticalPanel {
  position: absolute;
  height: 100%;
  width: 20%;
  left: 30%;


}

.fullLengthVerticalPanel.innerPanel {
  width: 50%;
  left: 25%;
}
.fullLengthHorizontalPanel.innerPanel {
  height: 60%;
  top: 20%;
}
div.darkBlue.fullLengthVerticalPanel{
  z-index: 1;

}

.fullLengthHorizontalPanel{
  position: absolute;
  height: 25%;
  width: 100%;
  top: 40%;
}


/* Greece */
.greekBlue {
   background-color: rgb(13, 94, 175)
}
#greece .smallSquareFlagContainer  {
  position: absolute;
  height: 20vmin;
  width: 20vmin;
}

#greece .smallHorizontalRectangle {
  height: 22%;
  width: 100%;
  left: 0;
  top: 43%;
}

#greece .smallVerticalRectangle {
  height: 107%;
  width: 22%;
  left: 40%;
  top: 0;

}
.largeContainer{
  width: 100%;
  height: 100%;
}
.largeContainer > div {
  background-color: white;
  width: 100%;
  height: 13%;
}
.largeContainer >div:nth-child(odd){
  background-color: rgb(13, 94, 175);
}
/* Somalia */
#somalia {
background-color: #4189DD;
position: relative;
}

.somaliaStarContainer {
 position: relative;
left: 5%;
top:25%;
}

.star{
  left: 8%;
  top: 20%;
   position:absolute;
   height:0px;
   width:0px;

   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;

   transform:    rotate(35deg) scale(.35);
}

.star:before{
   position:absolute;
   top: -45px;
   left: -65px;
   content:"";
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;

   transform: rotate(-35deg) scale(.8);
}
/* .star:before {
    position: absolute;
    top: -8px;
    left: -37px;
    content: "";
    border-bottom: 44px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(-35deg);
} */

.star:after{
   position:absolute;
   top: 3px;
   left: -105px;
   content:"";
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;

   transform: rotate(-70deg) scale(.9);
}
/* Chile */
.horizontalPanel{
  height:50%;
  width:100%;

}
.chileStarContainer{
  position: relative;
  left: -50%;
}

#chile .smallSquareFlagContainer{
  width: 19vmin;
}

@media screen and (min-width: 630px) {
  .chileStarContainer{
  top: 10%;
  left: -42%;
}
}


/* Turkey */
#turkey .circle {
  display: inline-block;
  margin-left: 21%;
  margin-top: 14%;
}

#turkey .circle.red{
  margin-top: 17%;
  margin-left: -34%;
  height: 48%;
  width: 35%;
  position: absolute;
}
#turkey .turkeyStarContainer {
  position: absolute;
  left: 56%;
  top: -8%;
  transform: rotate(51deg);
}
#turkey .star {
  left: 36%;
  top: 32%;
}
/* China */
.chinaStarContainer {
  display: inline-block;
  position: relative;
  left: -24%;
  margin-top: 3%;
}
#china .star:first-of-type {
  position: relative;
}

 #china .star + .chinaStarContainer{
   display: inline-block;
   position: absolute;
   left: 29%;
   top: -46%;
   transform: rotate(-51deg) scale(.3);
 }

 #china .star:before, #china .star:after, #china .star {
   border-bottom: 70px solid rgb(252, 209, 22);
 }

  .secondSmallChinaStarContainer{
   display: inline-block;
   position: absolute;
   left: 40%;
   top: -12%;
   transform: rotate(-51deg) scale(.3);
 }

  .thirdSmallChinaStarContainer{
   display: inline-block;
   position: absolute;
   left: 40%;
   top: 21%;
   transform: scale(.3);
 }
  .fourthSmallChinaStarContainer{
   display: inline-block;
   position: absolute;
   left: 30%;
   top: 53%;
   transform: rotate(-51deg) scale(.3);
 }

/* Cuba */
#cuba .largeContainer >div:nth-child(odd){
  background-color: rgb(0, 56, 147);
}

#cuba .smallSquareFlagContainer, #western_sahara .smallSquareFlagContainer{
  position: absolute;
  height: 50vmin;
  width: 50vmin;
  top: 16%;
  left: -25%;
  transform: rotate(32deg) skew(-34deg, -8deg) translate(-226px);
}

#cuba.flagContainer, #western_sahara.flagContainer, #kuwait.flagContainer{
  overflow: hidden;
}

#cuba .star {
  left:48%;
  top: 2%;
  transform: rotate(62deg) scale(.25);
}
/* Western Sahara */ /*Kuwait*/
#western_sahara .largeContainer > div, #kuwait .largeContainer > div {
  width: 100%;
  height: 33%;
}

#western_sahara .largeContainer div.black, #kuwait .largeContainer div.black {
  background-color: rgb(0,0,0);
}

#western_sahara .largeContainer div.green, #kuwait .largeContainer div.green {
  background-color: rgb(22, 155, 98);
}
#western_sahara .smallSquareFlagContainer{
  top: 50%;
  left: -29%;
  transform: rotate(32deg) skew(-15deg, 7deg) translate(-226px);
}
 #western_sahara .star:before, #western_sahara .star:after, #western_sahara .star {
   border-bottom: 70px solid rgb(206, 17, 38);
 }

 #western_sahara .westernSaharaStarContainer{
   position: absolute;
   left: 46%;
   top: -4%;
   transform: rotate(51deg);
 }

 #western_sahara .circle{
   display: inline-block;
 }
 #western_sahara .circle:first-of-type{
margin-left: 42%;
margin-top: 1%;
background-color:  rgb(206, 17, 38);
   width: 23%;
   height: 92%;
 }

 #western_sahara .circle.white{
   margin-top: 1%;
   margin-left: -18%;
   height: 30%;
   width: 20%;
   position: absolute;
   background-color: white;
 }

 #western_sahara .star{
   transform: rotate(-18deg) scale(.25);
 }

/* Kuwait */


#kuwait .largeContainer div.red {
  background-color: rgb(206, 17, 38);;
}

#kuwait .smallSquareFlagContainer{
  position: absolute;
  top: 92%;
  left: 30%;
  transform: rotate(36deg) skew(-13deg, 7deg) translate(-226px);
  background-color: rgb(0,0,0);
  height: 24vmin;
}

#kuwait div.white{
  position: relative;
  z-index: 1;
  width: 75%;
  left: 25%;
}
/* Venezuela */
.thirdRectangle{
  width: 100%;
  height: 33%;
}
.venezuelaLogo::before{
  content: "";
  height: 50%;
  width: 50%;
  left: -6%;
  top: -8%;
  position: absolute;
  background-image: url(assets/images/venezuela_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform:scale(.6);

}

 #venezuela .star:before, #venezuela .star:after, #venezuela .star {
   border-bottom: 70px solid rgb(252, 250, 250);
 }

 .venezuelaStarContainer,.secondSmallVenezuelaStarContainer,
 .thirdSmallVenezuelaStarContainer, .fourthSmallVenezuelaaStarContainer,
.fifthSmallVenezuelaStarContainer, .sixthSmallVenezuelaStarContainer,
 .seventhSmallVenezuelaStarContainer, .eighthSmallVenezuelaaStarContainer{
   transform: scale(.25);
   display: inline-block;
   position: absolute;
 }
 .venezuelaStarContainer{
   left: 20%;
   top: 52%;

 }
 .secondSmallVenezuelaStarContainer{
    left: 24%;
    top: 40%;
    transform: scale(.25) rotate(17deg);
 }
 .thirdSmallVenezuelaStarContainer{
    left: 32%;
    top: 29%;
    transform: scale(.25)rotate(48deg);
 }
 .fourthSmallVenezuelaaStarContainer{
    left: 32%;
    top: 35%;
    transform: scale(.25) rotate(-9deg);
 }
  .fifthSmallVenezuelaStarContainer{
    left: 40%;
    top: 31%;
    transform: scale(.25) rotate(9deg);
 }
  .sixthSmallVenezuelaStarContainer{
    left: 47%;
    top: 33%;
    transform: scale(.25) rotate(17deg);
 }
  .seventhSmallVenezuelaStarContainer{
    left: 53%;
    top: 38%;
    transform: scale(.25) rotate(27deg);
 }
  .eighthSmallVenezuelaaStarContainer{
    left: 53%;
    top: 52%;
    transform: scale(.25) rotate(0deg);
 }
/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
