/* Indonesia */
.flagContainer{
   width: 50vmin;
   height: 33vmin;
   margin: 3vmin;
}
 .halfRectangle{
   height: 50%;
}
.red {
  background-color: rgb(255, 0, 0);
}
.white {
  background-color: rgb(245, 245, 245);
}
/* Colombia */
.mustardYellow{
  background-color: rgb(252, 209, 22);
}

.darkBlue {
  background-color: rgb(0, 56, 147);
}

.darkRed {
  background-color: rgb(206, 17, 38);
}

/* Ireland */
.flexContainer {
  display: flex;

}

.dynamicSiblingPanel {
  width: 100%;
}

.green {
  background-color: rgb(22, 155, 98)
}

.orange {
  background-color: rgb(255, 136, 62)
}

/* France */
#france {
  font-size: 0;
}
.inlineBlockPanel {
  display: inline-block;
  height: 100%;
  width: 33%;
}
/* Benin */
.leftFloatPanel{
  float: left;
  height: 100%;
  width: 40%;
}
.rightFloatPanel {
  float: right;
  height: 100%;
  width: 60%;
}
/* Sweden */
#sweden .halfRectangle {
  position: relative;
}

.lightBlue{
  background-color: rgb(0, 106, 167);
}

.absoluteLeftPanel {
  position: absolute;
  height: 80%;
  width: 28%;
}

.absoluteRightPanel {
  position: absolute;
  height: 80%;
  width: 58%;
  left: 42%;
}

.bottomPanel {
  top: 20%;
}

/* Switzerland */
.squareFlagContainer {
  position: relative;
  height: 33vmin;
  width: 33vmin;
  margin: 3vmin;
}
.horizontalRectangle {
  position: absolute;
  height: 25%;
  width: 60%;
  left: 20%;
  top: 37%;
}

.verticalRectangle {
  position: absolute;
  height: 60%;
  width: 25%;
  left: 37%;
  top: 20%;

}

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
