/* Indonesia */

/* Colombia */

/* Ireland */

/* France */

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */